body {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(199, 199, 199);
    font-size: 100%;
    
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    width: 100%;
    max-width: 600px;
    background-color: rgb(255, 130, 92);
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin-top: 40px;

}

div {
    width: 100%;
    max-width: 600px;
    background-color: rgb(255, 130, 92);
    border-style: solid;
    border-width: 10px;
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

ol{
    text-align: center;
    padding: 5px;
}

ol li {
    display: inline-block;
    margin: 5px;
}

